*,::after,::before{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
}

.main-section{
    width: 80%;
    height: 100%;
    background-color: aquamarine;

    .service-header{
        width: 100%;
        height: 100vh;
        border: 2px solid orange;

        display: flex;
        justify-content: space-between;

        .service-heading{
            width: 47%;
            height: 100%;
            border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;

            .h1{
                width: 100%;
                display: flex;
                justify-content: center;
                border: 1px solid yellow;

                h1{
                    font-size: 130px;
                    text-align: center;
                }
            }

        }

        .service-paragraph{
            width: 47%;
            height: 100%;
            border: 2px solid black;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .para-heading{
                width: 100%;
                height: 54%;
                border: 1px solid rgb(54, 54, 28);

                display: flex;
                align-items: flex-end;

                h1{
                    font-size: 50px;
                }

            }

            .para-content{
                width: 100%;
                height: 40%;
                border: 1px solid rgb(54, 54, 28);

                p{
                    font-size: 20px;
                    line-height: 30px;
                }
                
            }

        }

    }

    .service-cards{
        width: 100%;
        height: 120vh;
        border: 2px solid olivedrab;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .row-1-cards{
            width: 100%;
            height: 47%;
            border: 1px solid green;

            display: flex;
            justify-content: space-between;

            .card-style{
                width: 30%;
                height: 100%;
                border: 1px solid black;
            }
        }

        .row-2-cards{
            width: 100%;
            height: 47%;
            border: 1px solid green;

            display: flex;
            justify-content: space-between;

            .card-style{
                width: 30%;
                height: 100%;
                border: 1px solid black;

 
            }
        }
    }
}




.card-content-style{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .service-pic{
        width: 100%;
        height: 70%;
        border: 1px solid indigo;
    }

    .card-heading{
        width: 100%;
        height: 14%;
        border: 1px solid indigo;
    }

    .card-paragraph{
        width: 100%;
        height: 14%;
        border: 1px solid indigo;
    }
}


.s1-bg{
    background-image: url('/asset/img/s1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.s2-bg{
    background-image: url('/asset/img/s2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.s3-bg{
    background-image: url('/asset/img/s3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.s4-bg{
    background-image: url('/asset/img/s4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.s5-bg{
    background-image: url('/asset/img/s5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.s6-bg{
    background-image: url('/asset/img/s6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card-heading{
    display: flex;
    justify-content: center;
}

.card-paragraph{
    display: flex;
    justify-content: center;
}


// media query for service header

@media screen and (max-width: 480px) {

    .service-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto !important;


        .service-heading{
            width: 100% !important;
            height: 100%;
            border: 2px solid black;

            .h1{

                h1{
                    font-size: 70px !important;
                }
            }
        }
 
        .service-paragraph{
            width: 100% !important;
            height: 100%;

            
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .para-heading{
                width: 100%;
                height: 47%;
                border: 1px solid rgb(54, 54, 28);

                display: flex;
                justify-content: center;
                align-items: center;

                h1{
                    text-align: center;
                    font-size: 40px !important;
                }

            }

            .para-content{
                width: 100%;
                height: 47%;
                border: 1px solid rgb(54, 54, 28);

                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    text-align: center;
                    line-height: 15px !important;
                    font-size: 14px !important;
                    margin-top: 20px;
                    margin-bottom: 40px;
                }
                
            }

        }

    }


}


// media query for service cards


@media screen and (max-width: 480px) {

    .main-section{
        width: 100%; }

}




@media screen and (max-width: 480px) {

    .service-cards{

        height: auto !important;

    
        .row-1-cards{
            margin-top: 40px;
            width: 100%;
            height: auto !important;
            border: 1px solid green;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .card-style{
                width: 100% !important;
                height: 300px !important;
                border: 1px solid black;
                margin-top: 16px;
            }
        }
    
        .row-2-cards{
            width: 100%;
            height: auto !important;
            border: 1px solid green;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .card-style{
                width: 100% !important;
                height: 300px !important;
                border: 1px solid black;
    
    
            }
        }
    }
}

